<h1>Create a new figure</h1>

<form action="/figures" method="POST">
  Figure name: <input type="text" id="figure_name" name="figure[name]">

  <label>Landmarks</label>

  <br><br>

 <% Landmark.all.each do |landmark| %>
     <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %>
   <% end %>

  <label>Or create a new landmark</label>

  Landmark name: <input type="text" id="new_landmark" name="landmark[name]">

  <label>Titles</label>
  <% Title.all.each do |title| %>
     <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %>
   <% end %>

  <label>Or create a new title</label>

  Title name: <input type="text" name="title[name]" id="new_title">

  <input type="submit" id="submit" value="Create New Figure">
</form>